@charset "UTF-8";
/* CSS Document */

h2 {
	background: url(images/ico_puce.gif) no-repeat left;
	padding-left: 40px;
	font-variant: small-caps;
	border-bottom: solid 1px #eae9e9;
	margin-bottom: 10px;
	padding-bottom: 3px;
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FFF;
}
fieldset {
	border:0px;
}
.bleu {
	background: url(images/ico_puce_bleu.gif) no-repeat left;
	color: #42b4dd;
}

.vert {
	background: url(images/ico_puce_vert.gif) no-repeat left;
	color: #73bf4f;
	
}

.orange {
	background: url(images/ico_puce_orange.gif) no-repeat left;
	color: #e28636;
}

.rouge {
	background: url(images/ico_puce_rouge.gif) no-repeat left;
	color: #cd4733;
}

.fushia {
	background: url(images/ico_puce_fushia.gif) no-repeat left;
	color: #c625bd;
}

.violet {
	background: url(images/ico_puce_violet.gif) no-repeat left;
	color: #a817eb;
}

h4 {
	text-align: center;
	color: #ff9600;
	font-variant: small-caps;
	font-size: 0.8em;
	margin-bottom: 5px;
}

.clear {
	clear: both;
}

img {
	border: 0px;	
}

/**************************************** CONTENT ****************************/

#photo_compagny {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

#left {
	float:left;
	text-align: left;
	width: 580px;
	color: #FFF;
	padding-left: 30px;
	font: 15px "Sylfaen", Arial, Helvetica, Sans-Serif;
	
}

#welcome, #title_bottom {
	padding-bottom: 20px;
}

#left p {
	width: 380px;
	float: right;
	font: 15px "Sylfaen", Arial, Helvetica, Sans-Serif;
}

#left p.sans {
	/*border: 2px solid red;*/
	padding-left: 15px;
	width: 560px;
	float:left;
	font: 15px "Sylfaen", Arial, Helvetica, Sans-Serif;
}

#left p.sansBig {
	/*border: 2px solid red;*/
	padding-left: 15px;
	width: 560px;
	float:left;
	font: 17px "Sylfaen", Arial, Helvetica, Sans-Serif;
}

#form_contact {
	/*border: 2px solid red;*/
	padding-left: 200px;
}

#form_contact fieldset {
	border: 2px solid #333333;
	font-size: 12px;
	color: #123456;
}

#form_search {
	/*border: 2px solid red;*/
}

#form_search fieldset {
	border: 2px solid #EAE9E9;
	font-size: 10px;
	color: #123456;
}

#form_contact fieldset {
	border: 2px solid #EAE9E9;
	font-size: 12px;
	color: #123456;
}

.champ {
	font-size: 12px;
	width: 200px;
}

.texte_legende {
	color: #FFFFFF;
	font: 15px "Sylfaen", Arial, Helvetica, sans-serif;
}

.texte {
	font: 15px "Sylfaen", Arial, Helvetica, sans-serif;
	width: 180px;
	height: 30px;
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}

#left li {
	display: inline;
	float: left;
	width: 185px;
	margin: 0 20px;
}

.top_frame {
	overflow: hidden;
	background: url(images/top_frame.gif) no-repeat;
	height: 10px;
}

.middle_frame {
	padding: 5px 0;
	background: url(images/middle_frame.gif) repeat-y;
	width: 100%;
}
 
.middle_frame span, .middle_frame a {
	display: block;
	margin: 0 10px;
}

.bottom_frame {
	overflow: hidden;
	background: url(images/bottom_frame.gif) no-repeat;
	height: 10px;
}

.title_bottom {
	background: url(images/bottom_menu.gif) repeat-x top;
	width: 100%;
}

#left span {
	font-size: 0.7em;
}

a.link_right:link, a.link_right:visited {
	float: right;
	margin-right: 5px;
	color: #FFFFFF;
	margin-top: 2px;
	font-size: 0.7em;
}

a.link_right:hover, a.link_right:active {
	float: right;
	margin-right: 5px;
	color:#FFFFFF;
	margin-top: 2px;
	text-decoration: underline;
	font-size: 0.7em;

}

#right {
	float:right;
	text-align: left;
	width: 240px;
	color: #FFF;
	padding-right: 20px;
}

#right div {
}

#right p {
	margin: 10px 0;
}

.input {
	background: url(images/input_text.gif) no-repeat;
	border:none;
	font-size: 0.8em;
	height: 20px;
	width: 180px;
	padding-top: 5px;
	margin-left: 5px;
	padding-left: 10px;
}

.button {
	float: right;
	color: #FFFFFF; 
	font-size: 12px;
	border: 2px solid white;
	background: #4b5b6c;
	margin: 5px 5px 0 0 ;
}

.button_send {
	float: none;
	color: #FFFFFF; 
	font-size: 12px;
	border: 2px solid white;
	background: #4b5b6c;
	margin: 5px 5px 0 0 ;
}